{% extends "polls/base_generic.html" %}

{% block content %}
  <h1>{{ question.question_text }}</h1>
  <p>{{ question.pub_date }}</p>

  {% if question.can_vote %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      <!-- Your voting form here -->
      <input type="submit" value="Vote">
    </form>
  {% else %}
    <p>Voting is not allowed for this poll.</p>
  {% endif %}

  <a href="{% url 'polls:index' %}">Back to List of Polls</a>
  <a href="{% url 'polls:results' question.id %}">Results</a>
{% endblock %}