/* polls/static/polls/style.css */
body {
    background: url("/polls/static/polls/images/background.jpeg") no-repeat center center fixed;
    background-size: cover;
    color: white; /* Ensure text is readable against the background */
}

li a {
    color: white;
}
